[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twitter = "~=1.18"
feedparser = "~=6.0"
boto3 = "~=1.16"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.8"
